<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Doação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <!-- Exibe a imagem atual e permite alterar -->
    <ion-button (click)="takePicture()" id="publish-button" expand="block">
      <img [src]="imageSource" width="50%" />
    </ion-button>
    <ion-item>
      <ion-input 
        placeholder="Anúncio"
        [(ngModel)]="anuncio" 
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea 
        placeholder="Detalhes"
        [(ngModel)]="detalhes"
        labelPlacement="floating" 
        rows="5"
        required></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button 
    (click)="updateDonation()" 
    id="publish-button" 
    expand="block" 
    shape="round">Atualizar</ion-button>
</ion-content>
