


<ion-content [fullscreen]="true" color="primary">

  
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary">NextHome</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-input type="email"  label="E-mail" labelPlacement="floating" placeholder="email@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Senha" labelPlacement="floating" placeholder="Senha"></ion-input>
        </ion-item>
        <ion-button size="full" color="dark" fill="clear">Esqueci minha senha</ion-button>
        <ion-button (click)="showHomePage()" color="secondary" size="full">Entrar</ion-button>
        <ion-button (click)="showLogPage()" color="secondary" size="full" fill="clear">Registrar</ion-button>

      </ion-card-content>
    </ion-card>
</div>

</ion-content>
