<ion-content [fullscreen]="true" color="secondary">

  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="flex-center" color="secondary" >Registro </ion-card-title>
      </ion-card-header>

      <ion-card-content>

          <div *ngIf="errorMessage" 
               style="color: red; font-size: 14px; margin-bottom: 15px; text-align: center;">
            {{ errorMessage }}
          </div>
          
          <div *ngIf="successMessage" 
               style="color: green; font-size: 14px; margin-bottom: 15px; text-align: center;">
            {{ successMessage }}
          </div>

        <form #loginForm="ngForm" novalidate>
          <ion-item>
            <ion-input
              label="Nome"
              labelPlacement="floating"
              placeholder="Digite aqui: "
              required
              [(ngModel)]="formData.nome"
              name="nome">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Sobrenome"
              labelPlacement="floating"
              placeholder="Digite aqui: "
              required
              [(ngModel)]="formData.sobrenome"
              name="sobrenome">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="email"
              label="E-mail"
              labelPlacement="floating"
              placeholder="email@gmail.com"
              required
              [(ngModel)]="formData.email"
              name="email">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="password"
              label="Senha"
              labelPlacement="floating"
              placeholder="Senha"
              required
              [(ngModel)]="formData.senha"
              name="senha">
            </ion-input>
          </ion-item>

          <ion-button size="full" color="dark" fill="clear">Esqueci minha senha</ion-button>
          <ion-button 
            type="submit" 
            color="secondary" 
            size="full" 
            shape="round"
            (click)="create()"
            [disabled]="loginForm.invalid">Registar-se</ion-button>
          <ion-button (click)="login()" color="secondary" size="full" fill="clear">Login</ion-button>
        </form>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>