<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Doações</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterDonations()"></ion-searchbar>

  <div class="photo-grid">
    <div *ngFor="let donation of filteredDonations" class="photo-item" (click)="openDonationDetails(donation)">
      <img 
        [src]="donation.imagem" 
        alt="{{donation.anuncio}}" 
        class="donation-image"
      />
      <div class="donation-info">
        <p id="anuncio">{{ donation.anuncio }}</p>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAddPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
